.contact__form form textarea {
    width: 30rem;
    height: 5rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 5px 10px;
}
.contact__title h1 {
  margin: 0;
  padding: 20px;
  color: #4afffc;
  text-align: center;
  
}
/* ==============================Contact Page Start==================== */

.contact__container {
    margin: 0;
    padding: 2% 10%;
    background-color: var(--bg-color);
    height: 40rem;
    font-size: 1.2rem;
  }
  
  .contact__wrapper {
  }
  
  .contact__form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact__form form label {
    color: white;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
  }
  
  .contact__form form input {
    height: 2rem;
    width: 30rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    transition: all 0.2s linear;
  }
  
  .contact__form form input:focus {
    /* border: 2px solid #1aa6d1; */
    box-shadow: 0 0 0 0.1rem #1aa6d1;
    outline: 0;
  }
  
  #message {
    height: 13rem;
    box-sizing: border-box;
  
    text-align: start;
  }
  
  .contact__form form input[type="submit"] {
    background-color: var(--bg-color);
    color: var(--color);
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px solid var(--color);
    transition: all 0.2s linear;
    margin-top: 30px;
  }
  
  .contact__form form input[type="submit"]:hover {
    box-shadow: 0 0 0 0.1rem var(--color);
  }
  
  @media screen and (max-width: 600px) {
    .contact__form form input {
      width: 95%;
    }
  }

  @media screen and (max-width:600px) {
    .contact__form form textarea {
      width: 95%;
    }
  }