@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


/* Project Statstics Start */

.table {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    height: 50vh;
    background-color: var(--border-color);
  }
  
  .table_header {
    background-color: var(--border-color);
    color: var(--color);
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    font-weight: 600;
    text-align: center;
  }
  
  .table_data {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    overflow-y: scroll;
    text-align: center;
  }
  
  /* Project Statstics End */

  /* Project Section Start */

.project {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
  height: auto;
    width: 100%;
    box-sizing: border-box;
  padding: 2% 10% 5rem;
  animation: fade-up 0.5s;
  }

  .project__title h1 {
    font-size: 1.5rem;
    padding: 20px;
  }

.project__title h1 span {
  color: var(--color);
}
.project__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    justify-items: center;
    align-items: center;

  }
  
.project__list div {
    border-radius: 8px;

  }

.project__list > div {
  box-shadow: 0 0 0 0.2rem rgba(94, 94, 94, 0.19);
  background-color: var(--border-color);
}



.project__list > div {
    position: relative;
    height: 25rem;
    width: 90%;
    margin-top: 2rem;
  background-color: #ebeef1;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
  -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
  transition: all 0.2s linear;
  }


.project__list > div:hover{
    transform: scale(1.02);
    
  }
  
  .project__detail {
    padding: 15px;
  }
  
  .project__image {
    height: 200px;
    width: 100%;
  }
  
  .project__image img {
    border-radius: 8px;
    height: 200px;
    width: 100%;
    object-fit: cover; 
  }
  
  .project__name a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }
  
  .project__name a:hover {
    color: rgb(214, 214, 214);
  }
  
  .project__description {
    font-size: 14px;
    text-align: justify;
  }

  .project__link {
    position: absolute;
    bottom: 10px;
    left: 40%;
    display: flex;
    gap: 15px;
    justify-content: center;  
    align-items: flex-end;  
    
  }

  .project__link img {
    height: 25px;
    width: 25px;  
    cursor: pointer;

  }

  .project__link img:hover {
    filter: invert(0.7);
  }
  
  .project__stack ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto 10px 10px auto;
  }
  
  .project__stack ul li {
    background-color: #a3a6d1;
    border-radius: 12px;
    padding: 3px 5px;
    font-size: 12px;
  }
  
  .see_all {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    /* text-transform: uppercase; */
    transition: all 0.1s linear;
    font-size: 0.85rem;
  }
  
  .see_all:hover {
    color: var(--color);
    box-shadow: 0 0.1rem 0 0 var(--color);
  }
  
  
  /* Single Project Section Start */

.single__project {
    background-color: #bdbdc4;
    padding: 0 10%;
  }
  
  .sp__header {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .sp__name h3 {
    margin: 0;
  }
  
  .sp__link {
    margin-right: 20px;
    transform: scale(1.5);
  }
  
  .sp__link a i {
    margin-left: 10px;
    color: #6d6d72;
  }
  
  .sp__link a i:hover {
    color: black;
  }
  
  .sp__image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 40px 0px;
    margin-bottom: 50px;
  }
  
  .sp__image img {
    height: auto;
    width: 90%;
    object-fit: cover;
  }
  
  .sp__stack ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  
  .sp__stack ul li {
    background-color: #a3a6d1;
    border-radius: 12px;
    padding: 5px 8px;
    font-size: 12px;
    margin-bottom: 30px;
  }
  
  .sp__requirement {
    text-align: justify;
  }
  
  .sp__description {
    margin: 0;
    padding: 10px 0 50px 0;
  }
  
  .sp__description > p {
    text-align: justify;
  }

@media screen and (max-width: 960px) {
  .project__list {
    display: grid;
      grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
    /* Responsive Project Start */

    .project {
        height: auto;
    }

    .project__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .project__list > div {
        width: 100%;
    }

    .project__stack {
        margin-top: 25px;
    }

    .project__image img {
        height: 100%;
        width: 100%;
    }

  /* Responsive Project End */
    .single__project {
      padding: 0 3%;
    }
    .sp__image {
      display: grid;
      grid-template-columns: 1fr;
    }
    .sp__image img {
      height: auto;
      width: 90%;
      object-fit: contain;
    }
  }

@media screen and (max-width: 600px) {
  .project__list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

  /* Single Project Section End */
  
  /* Project End */